@import "tailwindcss";

@theme {
  /* COLORS: Neutral Scale */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #010101;
  --color-silver: #dfdfde;

  /* ACCENT */
  --color-indigo-500: #6366f1;

  /* SHADOWS */
  --shadow-elevation-sm: 0px 0px 0px 1px rgba(0, 0, 0, 0.02), 0px 8px 24px 0px rgba(0, 0, 0, 0.10);
  --shadow-fancy: 0px 0px 0px 1px rgba(25, 37, 50, 0.05), 0px 3px 7px -3px rgba(25, 37, 50, 0.1), 0px 6px 12px -2px rgba(25, 37, 50, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

/* DARK MODE VARS */
:root {
  --color-bg-page: var(--color-neutral-50);
  --color-text-primary: var(--color-neutral-800);
  --color-border-default: var(--color-neutral-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-page: var(--color-neutral-950);
    --color-text-primary: var(--color-silver);
    --color-border-default: var(--color-neutral-800);
  }
}

body {
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
}
